@import 'tailwindcss';

body {
	height: 100dvh;
	width: 100dvw;
}

@theme {
	--animate-fadeInOut: fadeInOut 2s infinite;

	@keyframes fadeInOut {
		0%: {
			opacity: 0;
		}
		30% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
}
